    #preview {
        display: flex;
        flex-wrap: wrap; /* Para que las cards se acomoden con Media Queries */
        gap: 20px;
        justify-content: center;
    }
    .product-card {
        width: 250px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        transition: transform 0.3s;
    }
    .product-card:hover {
        transform: scale(1.05); /* Efecto visual de zoom */
    }