
*{
    box-sizing: border-box;
}

.container{
    background-color: #333;
    height: 30vh;



    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    flex-flow: column wrap;/*Es un shorcut de flexdirection y de flec wrap*/

    /*Vamos a ver las propiedadesd que tienen justify-content*/

    justify-content: flex-start;/*Realiza una alineacion dede el inicio*/

    justify-content: flex-end;/*Realiza una alineacion desde el final como |       123|*/
    justify-content: center;/*Realiza una alineacioón de los elementos del container de manera 
    central*/
    justify-content: space-between;/*Realiza un espaciado entre cada elemento si tiene espacio
    sobrante entre cada item pero no considera las orillas*/

    justify-content: space-around;/*Realiza un espaciado entre los items del contenedor padre
     pero considera a las orillas de cada elemento */

    justify-content: space-evenly;/*Le asigna el mismo espaciado entrea las orrilas y los items
    de cada elemento*/



    /*Ahora vamos a seguir los mismo principios pero en esta ocacion vamos a aplicarlo a 
    las columnas */

    justify-content: flex-start;
    justify-content: flex-end;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-around;
    justify-content: space-evenly;

    /*En resumen que hace justify content ??
    Define la alineacion de los elementos hijos, respecto del eje principals
    */

    /*Vamos a resetear los todos los elementos */

    flex-flow: row nowrap;
    justify-content: flex-start;

    /*Ahora podemos comenzar a experimentar sobre  align-items y align-contents*/

    align-items: stretch;/*Recordar que el estiramiento esta sucediendo hasta el contenedor del 
    padre en el cross axis o sea el eje x 
    Esta propiedad permite alargar los items que contiene el contenedor */


/*Y si lo cambiamos por colmnas?*/
    flex-direction: column;/*Sucede lo mismo pero en esta ocacion sobre el eje de las y
    */






}


.item{
    border: medium solid #999;
    /*width: 20%;
    height: 20%;*/
    background-color: #666;
}